.delete {
    color: #757575;
}

.update {
    color: #4285F4;
}

.newclass {
    color: #5F6368;
}

.more {
    color: #202124;
}

html {
    font-family: Georgia, serif;
    background-color: #fcfcfd;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.right-button {
    margin-left: 10px;
}

body {
    margin: 0;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #fcfcfd;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    flex: 1 0 22%;
    max-width: 22%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hotel-name {
    text-align: center;
}

.hotel-location {
    color: #D93025;
}

.hotel-description,
.more {
    text-align: center;
}

@media (max-width: 800px) {
    .hotel-card {
        flex: 1 0 46%;
        max-width: 46%;
    }
}

@media (max-width: 500px) {
    .hotel-card {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

.clear {
    border-radius: 5px;
    margin: 0 5px 5px auto;
    background-color: #E8EAED;
    border: 2px solid #5F6368;
    color: #5F6368;
    font-family: Georgia, serif;
    font-size: 35px;
    width: 190px;
    height: 60px;
}

.clear:hover {
    background-color: #fcfcfd;
}

.add_task_formLine {
    width: 350px;
    margin: 20px 0;
}

.add_task_label {
    float: left;
}

.input input, textarea {
    margin-left: 20px;
    font-size: 25px;
    font-family: Georgia, serif;
    border: 2px solid #5F6368;
    size: 100px;
    width: 350px;
}

.add_task_select select {
    margin-left: 20px;
    font-family: Georgia, serif;
    font-size: 25px;
    border: 2px solid #5F6368;
    size: 100px;
    width: 350px;
}

.task_label {
    margin-left: 20px;
    padding: 1px;
    font-size: 30px;
    color: #5F6368;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 2px solid #5F6368;
}

.submit input {
    font-family: Georgia, serif;
    margin-left: 100px;
    font-size: 30px;
    width: 50%;
    height: 55px;
    font-weight: bold;
    background-color: #4285F4;
    color: #202124;
    border-color: #5F6368;
}

.submit input:hover {
    background-color: #4285F4;
}

.errors {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D93025;
    width: 650px;
    height: 30px;
    color: #eaeaea;
    border: 2px solid black;
    padding: 10px;
}


.header {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    background-color: #8ab4f8;
}

.header a {
    font-size: 25px;
    float: left;
    display: block;
    color: #E8EAED;
    border: 2px solid #8ab4f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #D93025;
    color: #E8EAED;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: #5F6368;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: #5F6368;
}

h3 {
    margin-left: 15px;
    font-size: 30px;
    color: #5F6368;
}

textarea {
    resize: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 5px;
    color: #5F6368;
}

tr, td, th {
    border: 2px solid #5F6368;
    padding: 10px;
    transition: background-color 0.2s ease;
}

tr:hover, td:hover, th:hover {
    background-color: #F1F3F4;
}

.task_resolved {
    color: #8ab4f8;
}

.title_resolved {
    text-decoration: line-through;
}

/* Button styles */
button {
    margin-left: 5px;
    font-family: Georgia, serif;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8ab4f8;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.right-button {
    margin-left: 10px;
}

.right-button {
    margin-left: 10px;
    margin-right: 10px;
}

.logout-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #53A78A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #83CEA5;
}
