<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="container-fluid">
                <div class="header">
                    <br>
                    <button class="headbut" onclick="window.location.href='/hotel';">All Hotels</button>
                    <button class="headbut" onclick="window.location.href='/hotel/book';">Book by Date</button>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </nav>
</div>