<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="container-fluid">
                <div class="header">
                    <br>
                    <button class="headbut" onclick="window.location.href='/hotel';">Hotels</button>
                    <button class="headbut" onclick="window.location.href='/hotel/book';">Book</button>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </nav>
</div>
