<div class="header">
    <br>
    <button onclick="window.location.href='/user';">Users</button>
    <button onclick="window.location.href='/role';">Roles</button>
    <button onclick="window.location.href='/hotel';">Hotels</button>
    <button onclick="window.location.href='/room';">Rooms</button>
    <button onclick="window.location.href='/roomClassification';">Room Classifications</button>
    <button onclick="window.location.href='/country';">Countries</button>
    <button onclick="window.location.href='/city';">Cities</button>
    <button onclick="window.location.href='/booking';">Bookings</button>
    <br>
    <br>
</div>